<md-dialog>
    <form>
        <md-dialog-content>

            <div class="md-dialog-content">
                <md-tabs md-dynamic-height class="sportsbook-tabs">

                  <md-tab label="Home">
                      <div style="padding: 8px;">
                        <p>Home style content, promos etc</p>
                        <p>Dialog may as well be full screen (no margin) if small device</p>
                        <p>Default to previously selecetd top   tab when menu opens</p>                        
                        <p>Lower tabs offer a chance to load intro content for other apps, 
                            highlighted games, account issues, notifications, etc.
                            Dynamically loaded.  
                        </p>
                        <p>CONFIG+ would add another tab alongside the <i>default</i> configurable sport page (via switches), which the user would name.
                        ie 'English League 1+2', for example.  They would be deletable. This gives Leo control.</p>
                        <p>Higher tabs are application specific</p>                        
                        </p>
                      </div>
                  </md-tab>

                    <md-tab label="Football">
                        <sport-menu cancel="cancel()"  sport="'football'"></sport-menu>
                    </md-tab>

                    <md-tab label="Tennis">
                        <sport-menu cancel="cancel()"  sport="'tennis'"></sport-menu>
                    </md-tab>

                    <md-tab label="Basketball">
                        <sport-menu cancel="cancel()" sport="'basketball'"></sport-menu>
                    </md-tab>

                    <md-tab label="More">
                        <p>
                            More sports coming soon...
                        </p>
                    </md-tab>
                </md-tabs>
            </div>

        </md-dialog-content>

        <md-dialog-actions>
            <md-tabs>
                <md-tab label=Notifications></md-tab>                
                <md-tab label="Casino"></md-tab>
                <md-tab label="Account"></md-tab>
                <md-tab label="Settings"></md-tab>
                <md-tab label="Help"></md-tab>
            </md-tabs>
        </md-dialog-actions>

    </form>
</md-dialog>
