<md-button no-ink
    class="md-fab"
    ng-class="{
      'menu-open': vm.menuOpen,
      'event': vm.state.hasEvent(),
      'entry-via-event': vm.closeIsHome,
    }"
    aria-label="FAB" ng-click="vm.toggleMenu($event)">
    <md-icon>{{vm.state.hasEvent() && !vm.closeIsHome ?  'arrow_upward' : vm.icon}}</md-icon>
</md-button>

<div layout="row" layout-align="space-between center" class="calendar">
    <!--<div ng-repeat="day in [1,2,3,4,5,6]"
         ng-click="vm.selectDay(day)">
        Day {{day}}
    </div>-->
    <div ng-repeat="day in [1,2,3,4,5]">
        Day {{day}}
    </div>
</div>

<div class="content">
    <div ng-show="vm.sport">
        <list dates="vm.dates"></list>
    </div>

    <div ng-show="vm.competition">
        <p>
            {{vm.competition.name}}
        </p>
        <event-list events="vm.events"></event-list>
    </div>

    <div ng-hide="vm.competition" layout-padding>
        <p style="color: #f5f5f5">
            Home page, whatever goes here, loaded or loading (event entry point).
            (Would not be displayed if a sport, competition or event is selected) 
        </p>
    </div>

    <div ng-if="vm.state.hasEvent()" class="selected-event">
        <div>
            <h2>Event details</h2>
        </div>
    </div>
</div>
