<md-content>

    <div class="md-whiteframe-z2" layout-margin ng-repeat="(key, competitions) in dates">

        <a name="{{$index + 1}}"></a>

        <div>
            <md-subheader>{{key}}</md-subheader>

            <md-list layout="column">

                <section ng-repeat="(key, events) in competitions"
                         layout-margin
                         class="md-whiteframe-z2 animate-repeat">


                    <!-- hide if competition is in state -->
                    <md-subheader class="md-no-sticky">
                        <div layout="row">
                            <div>{{key}}</div>
                            <div flex></div>
                            <div>Pin / X</div>
                        </div>
                    </md-subheader>

                    <md-list layout="column">
                        <md-subheader>Market 1 | Market 2</md-subheader>
                        <md-list-item ng-repeat="event in events" ng-click="selectEvent(event)">
                            {{event.home}}
                            vs
                            {{event.away}}

                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </section>

            </md-list>
        </div>
    </div>
</md-content>