md-dialog {
    background-color: #e5e5e5;
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    max-width: 100%;
    max-height: 100%;
}

md-dialog md-tabs-wrapper {
    background-color: #333;
    color: #fff;
    box-shadow: 0px 1px 2px #666, 0px -1px 2px #333;

}

md-dialog-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    right: 0;
    padding: 0 90px 0 0 !important;
    background-color: #333;
    box-shadow: 0px 1px 2px #666, 0px -1px 2px #666;
    z-index: 999;
}

md-dialog-actions md-tabs {
    width: 100%;
}

md-dialog .md-dialog-content {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.sport-menu {}
.sport-menu-buttons {
    background-color: #d5d5d5;
}
.sport-menu-links {}