.md-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition-duration: 0.4s;
    transition-property: all;
    z-index: 9999 !important;
}

.md-fab:hover {
    background-color: #333;
}

.md-fab md-icon {
    transform: rotate(0deg);
    color: #fff !important;
    transition-duration: 0.4s;
    transition-property: transform;
}

.md-fab.menu-open md-icon {
    transform: rotate(135deg);
}

.md-fab.event md-icon {
    transform: rotate(180deg);
}

.md-fab.entry-via-event md-icon {
    transform: rotate(359deg);
}
