.animate-repeat {
    position: relative;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition: all linear 0.3s;
}

.animate-repeat.ng-enter {
    opacity: 0;
}

.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
}

.animate-repeat.ng-leave.ng-leave-active {
    opacity: 1;
}

.animate-repeat.ng-leave {
    opacity: 0;
}