.selected-event {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: #ccc;
}

.selected-event.ng-enter, .selected-event.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.selected-event.ng-enter,
.selected-event.ng-leave.ng-leave-active {
    top: 100%;
    bottom: -100%
}

.selected-event.ng-leave,
.selected-event.ng-enter.ng-enter-active {
    top: 0;
    bottom: 0;
}