md-tabs.md-dynamic-height.sportsbook-tabs {
    max-height: 100%;
    min-height: 100%;
}

md-tabs-content-wrapper {
    position: absolute !important;
    top: 49px !important;
    bottom: 80px !important;
    left: 0 !important;
    right: 0 !important;
    overflow-y: scroll !important;
}

md-tab-item span {
    color: #fff !important;
}

md-tab-item.md-active span {
    color: #f5744b !important;
}