<div layout="row" layout-align="center" layout-padding ng-click="selectEvent()">
    {{event.date}}
    <div>
        {{event.home}}
    </div>
    <div flex>v</div>
    <div>
        {{event.away}}
    </div>
</div>