<div class="sport-menu" layout="column">
    <div flex layout="column">
        <div flex layout="row">
          <div flex>
            <md-button ng-click="selectSport(sport)"
                    class="md-raised md-primary" stlye="width: 90%; text-align: left;">
              Sport "Home" page (ie config 1)
            </md-button>
          </div>
          <div>
            <md-button class="md-raised md-primary">
              Config +
            </md-button>
          </div>
        </div>
    </div>

    <div layout="row">
        <div flex class="sport-menu-buttons" style="box-shadow: inset -2px 2px 5px #aaa;}">
            <div ng-repeat="competition in competitions" layout="column">
                <md-button ng-click="selectCompetition(competition)" class="md-raised" style="text-align: left;"> {{ competition }}</md-button>
            </div>
        </div>
        <div flex="5"></div>
        <div class="sport-menu-switches">
            <div ng-repeat="competition in competitions" layout="column" style="height: 48px">
                <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
            </div>
        </div>
    </div>

</div>
