doctype html

html(lang='en' ng-app="app")
    head
        meta(charset='UTF-8')

        base(href="/")

        title material menu

        include stylesheets

        body(layout="column" flex layout-fill)

            section(layout="row" flex)
                md-content(flex layout="column" class="md-background-theme md-hue-2")
                    div(class="md-body-1" flex ng-view layout="column" layout-fill)
        
            include scripts


