script(src='libs/angular/angular.min.js')

script(src='libs/angular-route/angular-route.min.js')
script(src='libs/angular-resource/angular-resource.min.js')
script(src='libs/angular-animate/angular-animate.min.js')
script(src='libs/angular-aria/angular-aria.min.js')
script(src='libs/angular-material/angular-material.min.js')

script(src='libs/lodash/dist/lodash.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable.js")

script(src='js/app.js')
script(src='js/config/mdTheme.js')
script(src='js/run/run.js')

script(src='js/services/sportService.js')
script(src='js/services/stateService.js')

script(src='js/controllers/IndexCtrl.js')
script(src='js/directives/sportMenu/sportMenu.js')
script(src='js/directives/competitionList/competitionList.js')
script(src='js/directives/eventList/eventList.js')
script(src='js/directives/event/event.js')
script(src='js/directives/dateList/dateList.js')
script(src='js/directives/list/list.js')


script(src='js/routes/Routes.js')
