link(rel="stylesheet" href="libs/angular-material/angular-material.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

link(rel="stylesheet" href="css/main.css")
link(rel="stylesheet" href="css/fab.css")
link(rel="stylesheet" href="css/dialog.css")
link(rel="stylesheet" href="css/tabs.css")
link(rel="stylesheet" href="css/list.css")
link(rel="stylesheet" href="css/calendar.css")
link(rel="stylesheet" href="css/switch.css")
link(rel="stylesheet" href="css/selected-event.css")
